<%- include("partials/header.ejs") %>
<div class="container">
	<div class="jumbotron">
  <h1 class="display-4">Welcome To Grand View!</h1>
  <p class="lead">This is version 1.0.1 of the website</p>
  <hr class="my-4">
  <p>Developed By Mourad Sherif</p>	
  <a class="btn btn-primary btn-lg" href="/home" role="button">GO TO THE HOME PAGE!</a>
</div>
</div>
<%- include("partials/footer.ejs") %>
