<div class="card">
  <div class="card-header">
    <%= profile.username %>'s Card
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= profile.name %></h5>
	<p class="card-text"><%= profile.apartment %></p>
    <p class="card-text"><%= profile.bio %></p>
    <a href="/home" class="btn btn-success">Go To The Home Page</a>
	  <a href="/profiles" class="btn btn-secondary">Browse More Profiles</a>
  </div>
</div>
