<div class="card">
  <div class="card-header">
    <%= profile.name %>'s Card
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= profile.name %></h5>
    <p class="card-text"><%= profile.bio %></p>
    <a href="/home" class="btn btn-primary">Rutern To The Home Page</a>
  </div>
</div>
